* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    color: #313131;
}

header {
    background-color: #313131;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 10%;
}

h1 {
    padding-top: 10%;
    letter-spacing: 3px;
    font-size: 1.7rem;
}

#headshot {
    width: 60%;
    display: block;
    margin: auto;
}

#contact {
    font-size: 1.1rem;
    padding-top: 5%;
}

aside {
    background-color: #28868e;
    width: 100%;
}

h2 {
    background-color: #28868e;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bold {
    font-weight: bold;
}

.bold2 {
    font-weight: bold;
}

.italics {
    font-style: italic;
    line-height: 0.5;
}

p {
    padding-left: 10%;
}

.nobullets {
    list-style-type: none;
}

ul {
    padding-top: 5%;
}

li {
    padding-top: 3%;
}

.resumecontent {
    margin-left: 5%;
    padding-bottom: 5%;
}

.slight {
    padding-top: 7%;
}

#education {
    margin-top: 5%;
}

.bar {
    display: inline;
    width: 50%;
    position: absolute;
    right: 10%;
}

.extra {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #313131;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Interest Icons */
.interests {
    width: 30%;
    margin: auto;
    display: block;
    padding-bottom: 3%;
    margin-top: 5%;
}

h3 {
    text-align: center;
    padding-bottom: 10%;
}

/*** MEDIA QUERY 500PX MOBILE DEVICES ***/
@media (min-width: 500px) {

    li {
        width: 95%;
    }

    h1 {
        font-size: 2.3rem;
    }

    #headshot {
        width: 40%;
    }
}

/*** MEDIA QUERY 600PX ***/
@media (min-width: 600px) {

    .interests {
        width: 25%;
    }

    .resumecontent {
        margin-left: 10%;
    }
}

/*** MEDIA QUERY 700PX ***/
@media (min-width: 700px) {

    #headshot {
        width: 30%;
    }

    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2rem;
    }

    .resumecontent {
        margin-left: 15%;
    }

    .interests {
        width: 20%;
    }

    .bold2 {
        font-size: 1.4rem;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 1%;
    }

    .bar {
        width: 43%;
        margin-right: 10%;
        padding-bottom: 2%;
    }
}

/*** MEDIA QUERY 800PX ***/
@media (min-width: 800px) {

    .resumecontent {
        margin-left: 10%;
    }
}

/*** MEDIA QUERY 900PX TABLET DEVICES ***/
@media (min-width: 900px) {

    body {
        display: flex;
        flex-direction: row;
    }

    aside {
        width: 30%;
        flex: 1;
    }

    main {
        flex: 1;
    }

    #skills {
        margin-top: 6.5%;
    }

    main {
        width: 40%;
        display: inline-block;
    }

    h1 {
        padding-top: 4%;
    }

    .bar {
        margin-right: -5%;
        width: 20%;

    }

    #interest {
        margin-top: 0%;
    }

    .resumecontent {
        margin-left: 8%;
    }
}

/*** MEDIA QUERY 1000PX ***/
@media (min-width: 1000px) {
    #skills {
        margin-top: 6%;
    }

    #interest {
        margin-top: 1%;
    }
}

/*** MEDIA QUERY 700PX ***/
@media (min-width: 700px) {

}
