* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    color: #313131;
    /*
    display: flex;
    flex-direction: column-reverse; */
}

header {
    background-color: #313131;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 10%;
}

h1 {
    padding-top: 10%;
    letter-spacing: 3px;
    font-size: 1.7rem;
}

#headshot {
    width: 60%;
    display: block;
    margin: auto;
}

#contact {
    font-size: 1.1rem;
    padding-top: 5%;
}

aside {
    background-color: #28868e;
    width: 100%;
}
h2 {
    background-color: #28868e;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
}
.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
    line-height: 0.5;
}

p {
    padding-left: 10%;
}

.interests {
    width: 30%;
    margin: 8auto;
    display: block;
    padding-bottom: 10%;
    margin-top: 5%;
}

.nobullets {
    list-style-type: none;
}

ul {
    padding-top: 5%;
}

li {
    padding-top: 3%;
}

.resumecontent {
    margin-left: 5%;
    padding-bottom: 5%;
}

.slight {
    padding-top: 7%;
}

#education {
    margin-top: 5%;
}

.bar {
    display: inline;
    width: 50%;
    position: absolute;
    right: 10%;
}

.extra {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #313131;
    margin-top: 5%;
}
